@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@foreach (var item in Model.Items)
{
<div class="col-md-2">
    <div class="text-center">
        <a href="Author.html">
            <img class="img-circle" src="@item.Fields.Avatar.Fields.MediaUrl" height="128" width="128" alt="Rey Bango">
        </a>

        <h3><a href="Author.html">@item.Fields.Name</a></h3>
        <p>@item.Fields.JobTitle</p>
    </div>
</div>
}